*~
*.o
*.dep
*.gcov
*.gcda
*.gcno

buffer_test
tasklet_test
queue_test
socket_test
timer_test
echo_server
http_server
http_client
src/http_status.c
http_status_gen
http_reader_test
delim_stream_test
transport_test
