[submodule "http-parser"]
	path = src/http-parser
	url = https://github.com/joyent/http-parser
	ignore = dirty
[submodule "skinny-mutex"]
	path = src/skinny-mutex
	url = https://github.com/dpw/skinny-mutex
	ignore = dirty
[submodule "euphemus"]
	path = euphemus
	url = https://github.com/dpw/euphemus
